:root {
    --primary: #007cc5;
    --primaryLight: #007cc5;
    --primaryDark: #224596;
    --secondary: #607d8b;
    --secondaryExtraLight: #eceff1;
    --secondaryLight: #b0bec5;
    --secondaryDark: #000000;
    --secondaryExtraDark: rgb(67, 87, 97);
    --layoutBackgroundLight: #fafafa;
    --textLight: #eceff1;
    --gradient: linear-gradient(86deg, #224596 0%, #007cc5 100%);
  
  }
  

  