:root {
    --primary: #009688;
    --primaryLight: #80cbc4;
    --primaryDark: #00796b;
    --secondary: #607d8b;
    --secondaryExtraLight: #eceff1;
    --secondaryLight: #b0bec5;
    --secondaryDark: #37474f;
    --secondaryExtraDark: #263238;
    --layoutBackgroundLight: #fafafa;
    --textLight: #eceff1;
  }
  
  /* in case there is a dark theme */
  
  /* [data-theme="dark"] {
  
  } */
  