@use './../../../styles/partials/variables';
@use './../../../styles/partials/mixin';


/* MOBILE FIRST */
.main {
  padding-top: 60px;
  width: 100%;
  text-align: center;
  height: 100%;
  
  .content{
    @include mixin.flex(column, unset, unset, 30px);
    width: 100%;

  }



  /* DESKTOP */

  @media only screen and (min-width: map_get(variables.$breakpoints, 'tablet')) {
    padding-top: 0;

    .content{
      @include mixin.flex(row, unset, unset, 30px);
  
    }
  }
}
