@use './../../../styles/partials/variables';
@use './../../../styles/partials/mixin';


/* MOBILE FIRST */
.main {
  padding-top: 94px;
  width: 100%;
  text-align: center;
  height: 100%;
  
  .content{
    @include mixin.flex(column, unset, unset, 30px);
    width: 100%;

  }

 /* MIN-TABLET */
 @media only screen and (min-width: map_get(variables.$breakpoints, 'min-tablet')) {
  padding-top: 0;
}

  /* TABLET */
  @media only screen and (min-width: map_get(variables.$breakpoints, 'tablet')) {
    .content{
      @include mixin.flex(row, unset, unset, 30px);
  
    }
  }
}
