@use "./../../../styles/partials/theme";
@use "./../../../styles/partials/variables";

.footer{
    width: 100%;
    height: min-content;
    background: var(--gradient);
    text-align: center;
    font-weight: 500;
    color: var(--textLight);
}