@use './../../styles/partials/mixin';
@use './../../styles/partials/variables';

/* MOBILE FIRST */
.main {
    padding-top: 60px;
    width: 100%;
    text-align: center;
    height: 100%;
    @include mixin.flex(column, unset, unset, 30px);
    
    .skill1Section{
        background-color: var(--secondaryExtraLight);
        border-radius: 65px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
        img{
          width: 65px;
          height: 65px;
        }

        .subTitle{
          padding: 10px
        }
        
        .skills {
          @include mixin.flex(row, unset, center, 10px);
          flex-wrap: wrap;

        }
        
    }
  
   /* MIN-TABLET */
   @media only screen and (min-width: map_get(variables.$breakpoints, 'min-tablet')) {
    padding-top: 0;
  }
  
  }